---
layout: page
title: Sessies
tracks:
  - Keynote
  - Infrastructuur
  - Apps
  - Inspiratie
  - Workshops
  - Closing Note
---

<section class="col-sm-12">
  <img class="img-responsive" src="/assets/Schedule.png" alt="Schema" />
</section>
<p>&nbsp;</p>
<div class="well col-sm-12">
  <a href="/assets/Rdw%20Techday%202017.pdf" target="_blank"><span class="btn btn-warning">Download Agenda (PDF)</span></a>
  &nbsp;
  <a href="/assets/images/map.png" target="_blank"><span class="btn btn-warning">Plattegrond</span></a>
</div>
{% for track in page.tracks %}
  {% assign sorted_sessies = site.sessies | where: "track", track | sort:"tijd" %}

  <div class="well col-sm-12">
    <div class="label label-info">{{track}}</div>

    {% for sessie in sorted_sessies %}
      <div id = "{{sessie.title | cgi_escape}}" class="sessie">
        <h3> {{ sessie.titel }} </h3>
        <p><b>Tijd: {{ sessie.tijd }}</b><br/>
        <!-- <b>Locatie: {{ sessie.locatie }}</b></p> !-->
        {% if  sessie.sprekers.size > 1 %}
          Sprekers:
        {% else %}
          Spreker:
        {% endif %}
        {% for spreker_ref in sessie.sprekers %}
        	{% for spreker in site.sprekers %}
        	   {% if spreker_ref == spreker.ref %}<a href="\sprekers#{{spreker.ref}}"> {{ spreker.naam }} </a> &nbsp;{% endif %}
        	{% endfor %}
        {% endfor %}
        {{ sessie.content }}
      </div>
    {% endfor %}
</div>  
{% endfor %}

