---
layout: page
title: Sessies
message: De sessies van de RDW Techday 2019 zijn bekend! Inschrijven voor sessies kan via Mijn Agenda
order: 2
tracks:
  - Keynote
  - Infrastructuur
  - Apps
  - Inspiratie
  - Collaboratie
  - Workshops
  - Closing Note
---

<section class="col-sm-12">
  <img class="img-responsive" src="/assets/Schedule.png" alt="Schema" />
</section>
<p>&nbsp;</p>
<div class="well col-sm-12">
  <a href="/assets/Schedule.pdf" target="_blank"><span class="btn btn-rdw">Download Agenda (PDF)</span></a>
  &nbsp;
  <a href="/assets/images/map.png" target="_blank"><span class="btn btn-rdw">Plattegrond</span></a>
</div>
{% for track in page.tracks %}
  {% assign sorted_sessies = site.sessies | where: "track", track | sort:"tijd" %}

  <div class="well col-sm-12">
    <div class="label label-rdw label-track">Track: {{track}}</div>

    {% for sessie in sorted_sessies %}
      <div id = "{{sessie.title | cgi_escape}}" class="sessie">
        <h3> {{ sessie.titel }} </h3>
        <p><b>Tijd&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ sessie.tijd }}</b><br/>
        {% if  sessie.sprekers.size > 1 %}
          Sprekers&nbsp;&nbsp;:
        {% else %}
          Spreker&nbsp;&nbsp;&nbsp;:
        {% endif %}
        {% assign sorted_speakers = sessie.sprekers  | sort %}
        {% for spreker_ref in sorted_speakers %}
            {% for spreker in site.sprekers %}
				{% if spreker_ref == spreker.ref %}
					<a href="\sprekers#{{spreker.ref}}">{{ spreker.naam }}</a>
				{% endif %}
			{% endfor %}
			{% if forloop.last == false %}, 
			{% endif %}
        {% endfor %}		
		{% if sessie.niveau %}
			<br />
			Niveau&nbsp;&nbsp;&nbsp;&nbsp;: 
			{% for index in (1..sessie.niveau) %}
				<img src="../assets/images/peper.png" alt="peper" height="25" width="15">
			{% endfor %}
		{% endif %}
		<br /><br />
        {{ sessie.content }}
      </div>
    {% endfor %}
</div>  
{% endfor %}

