<footer>
  <div class="container footer-container-padding">
    <div class="row">
      <div class="col-md-7">
        <ul class="list-inline">
          <li><a href="{{ site.github_project_name }}/#page-top">Home</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#about">Over de TECHDAY</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#speaker">Sprekers</a></li>
        </ul>

      </div>
      <div class="col-md-5 ft-logo">
        <div class="col-md-6">
        </div>
        <div class="col-md-4">
    			<p class="copyright text-muted small">Website gemaakt door </p><img src="{{ site.github_project_name }}/assets/images/rdwlogo-small.png" alt="RDW" />
        </div>
      </div>

    </div>
    <br>
  </div>
</footer>

{% include js.html %}