<section class="intro" id="about">
    <div class="container">
		<div class="rdw-techday">
    
        <div>RDW TECHDAY 2019</div>        
        <div class="rdw-techday-thema"><strong>IT</strong> starts with <strong>YOU</strong></div>
    
		</div>
        
        <div class="row">
            <div class="jumbotron">
                <p>IT starts with you! Dat is het thema van de RDW Techday 2019.</p>
                <p>Na een geslaagde editie in april 2018, zijn we helemaal klaar voor de Techday 2019.</p>
                <p>De RDW Techday is een intern event voor ICT-medewerkers van RDW en RDW-collega&#39;s die nauw samenwerken met ICT. Ook worden er kaarten beschikbaar gesteld aan bedrijven die zijn aangesloten bij Samenwerking Noord.</p>
                <p>Met de Techday willen we laten zien en ervaren welke technologische ontwikkelingen op ons af komen in de komende jaren.</p>
                <p>De presentaties en workshops zijn gericht op ICT-professionals met belangstelling voor ontwikkelingen op het gebied van Infrastructuur, Agile samenwerking, Apps en Innovatie.</p>
                <p>De Techday wordt gehouden op 21 maart 2019, van 09.00 tot 17.00  uur in het Van der Valk hotel in Hoogkerk. Voor de lunch en borrel wordt gezorgd. Deelname is gratis.</p>
                <p>Medewerkers van RDW kunnen zich direct <a href="https://rdwtechdayweb.azurewebsites.net/Account/Register"> inschrijven</a>. Na inschrijving en het bevestigen van de e-mail kan je <a href="https://rdwtechdayweb.azurewebsites.net/Account/Loginr"> inloggen</a> om sessies te kiezen waaraan je deel wil nemen (via de optie "Mijn Agenda"). Voor elke sessie is er een maximum aantal deelnemers. Dus wacht niet te lang, dan is de kans groter dat je kunt deelnemen aan de sessies van je keuze.</p>
                <p>Er worden ook kaarten beschikbaar gesteld aan bedrijven die zijn aangesloten bij Samenwerking Noord. Voor Samenwerking Noord zijn een beperkt aantal plaatsen beschikbaar. Als je lid bent van Samenwerking Noord dan kun je je aanmelden voor het event via <A HREF="mailto:g.brinksma@samenwerkingnoord.nl?subject=Aanmelden RDWTechday 2019">Greetje Brinksma</A>. Wij sturen een e-mail met een inschrijflink zodra Samenwerking Noord je naam aan ons heeft doorgegeven.</p>
            </div>
        </div>
    </div>
</section>
