<section class="intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="rdw-light-orange rdw-intro-big">RDW</> <span class="rdw-intro-gray">TECHDAY</span> </h1><h4 class="rdw-gray-3 rdw-intro">GRONINGEN 2019</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="jumbotron">
                <p>IT starts with you! Dat is het thema van de RDW Techday 2019.</p>
                <p>Na een geslaagde vorige editie, in april 2018, zijn we helemaal klaar voor de Techday 2019.</p>
                <p>De RDW Techday is een intern event voor ICT-medewerkers van RDW en RDW-collega&#39;s die nauw samenwerken met ICT. Ook worden er kaarten beschikbaar gesteld aan bedrijven die zijn aangesloten bij Samenwerking Noord.</p>
                <p>Met de Techday willen we laten zien en ervaren welke technologische ontwikkelingen op ons af komen in de komende jaren.</p>
                <p>De presentaties en workshops zijn gericht op ICT professionals met belangstelling voor ontwikkelingen op het gebied van Infrastructuur, Agile Samenwerking, Apps en Innovatie.</p>
                <p>De Techday wordt gehouden op 21 maart 2019, van 09.00 tot 17.00  uur in het Van der Valk hotel in Hoogkerk. Voor de lunch en borrel wordt gezorgd. Deelname is gratis.</p>
            </div>
        </div>
    </div>
</section>
