<section class="intro" id="about">
    <div class="container">
		<div class="rdw-techday">
    
        <div>RDW TECHDAY 2019</div>        
        <div class="rdw-techday-thema"><strong>IT</strong> starts with <strong>YOU</strong></div>
    
		</div>
        
        <div class="row">
            <div class="jumbotron">
                <p>IT starts with you! Dat is het thema van de RDW Techday 2019.</p>
                <p>Na een geslaagde editie in april 2018, zijn we helemaal klaar voor de Techday 2019.</p>
                <p>De RDW Techday is een intern event voor ICT-medewerkers van RDW en RDW-collega&#39;s die nauw samenwerken met ICT. Ook worden er kaarten beschikbaar gesteld aan bedrijven die zijn aangesloten bij Samenwerking Noord.</p>
                <p>Met de Techday willen we laten zien en ervaren welke technologische ontwikkelingen op ons af komen in de komende jaren.</p>
                <p>De presentaties en workshops zijn gericht op ICT-professionals met belangstelling voor ontwikkelingen op het gebied van Infrastructuur, Agile samenwerking, Apps en Innovatie.</p>
                <p>De Techday wordt gehouden op 21 maart 2019, van 09.00 tot 17.00  uur in het Van der Valk hotel in Hoogkerk. Voor de lunch en borrel wordt gezorgd. Deelname is gratis.</p>
            </div>
        </div>
    </div>
</section>
