<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://rdwtechday.nl"><text>&nbsp;</text>RDW Techday&nbsp;&nbsp;&nbsp;</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
				<li><a href="https://rdwtechday.nl">Home</a></li>
				<li><a href="https://rdwtechdayweb.azurewebsites.net/Users/SelectSessies">Mijn Agenda</a></li>
				<li><a href="https://rdwtechday.nl/sessies.html">Sessies</a></li>
				<li><a href="https://rdwtechday.nl/sprekers.html">Sprekers</a></li>
				<li><a href="https://rdwtechday.nl/locatie.html">Locatie</a></li>
				<li><a href="https://rdwtechday.nl/about">Contact</a></li>				
				<li class="menusplit"><a href="https://rdwtechdayweb.azurewebsites.net/Account/register/">Registreer</a></li>
                <li><a href="https://rdwtechdayweb.azurewebsites.net/Account/Login">Login</a></li>                                                         
            </ul>			
        </div>
    </div>
</nav>

