<div class="row">
    <hr />
    <h3>Organisatie</h3>
    {% for organizer in site.organizers %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="/assets/images/people/{{ organizer.ref }}.jpg" alt="{{ organizer.naam }}" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ organizer.naam }}</h4>
                <p>{{ organizer.rol }}</p>
            </div>
        </div>
    {% endfor %}
</div>
