    html {
      width: 100%;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }

    body {
      width: 100%;
      height: 100%;
    }

    .intro {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      /*text-align: center;*/
      color: #fff;
      background: url(../../assets/images/bg.jpg) no-repeat bottom center scroll #292c33;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      z-index: -1;
      margin-top: -60px;
    }

    .intro-body {
      display: table-cell;
      vertical-align: middle;
    }

    .intro-text {
      font-size: 18px;
    }

  
.rdw-orange {
    color: #C30;
    font-size: 600%;
}

.rdw-light-gray {
    font-size: 300%;
    color: #f2f2f5;
}

.rdw-gray {
    color: #888;
}


.rdw-light-gray-bg {
    background: #f2f2f5;
}

.rdw-red {
    color: #ff0000;
}

.rdw-techday {
    text-align:center;
    color: #E50;
    font-size: 600%;
    font-family: 'Roboto Regular', sans-serif;    
    font-weight: 400;
}

.rdw-techday-thema {
    color: white;   
}